{{! This is a partial file used to generate a post "card"
which templates loop over to generate a list of posts. }}

<article class='q-post-list-item-wrapper {{post_class}}'>
  <a href='{{url}}'>
    <div class='q-post-list-item-inner'>
      <div class='q-post-list-item-tag'>
        {{#if primary_tag}}
        {{#primary_tag}}
        <span class='q-post-list-item-tag-inner'>
          {{name}}
        </span>
        {{/primary_tag}}
        {{/if}}
      </div>
      <div class='q-post-list-item-title'>{{title}}</div>
      <div class='q-post-list-item-readingtime'>
        {{reading_time}}
      </div>
    </div>
  </a>
</article>