{{!-- This is a partial file used to generate a post "card"
which templates loop over to generate a list of posts. --}}

<article class="q-post-card-wrapper {{post_class}}">
    <div class="q-post-card-inner">
        <div {{#if feature_image}} style="background-image: url('{{img_url feature_image}}')" class="q-post-card-inner-shaded" {{/if}} >
            <a href="{{url}}">
                <header class="q-post-card-header">
                    <h3 class="q-post-card-title">
                        {{title}}
                    </h3>
                </header>
                <section class=q-post-card-body>
                    <p class=q-post-card-body-excerpt>{{excerpt}}</p>
                </section>
            </a>
        </div>

    </div>
</article>