{{!-- This is a partial file used to generate a post "card"
which templates loop over to generate a list of posts. --}}

<article class="q-post-card {{post_class}}">
    <div class="q-post-card-inner">
        <a href="{{url}}">
            <header class="q-post-card-header">
                {{#if feature_image}}
                <div class="q-post-card-header-image">
                    <img loading="lazy" src="{{img_url feature_image}}" alt="Caption image for article {{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="q-post-card-image">
                </div>
                {{/if}}
                <h4 class="q-post-card-title">
                    {{title}}
                </h4>
            </header>
            <section class=q-post-card-body>
                {{#if primary_tag}}
                    {{#primary_tag}}
                    <div class='q-post-card-item-tag'>
                        <span class='q-post-card-item-tag-inner'>
                          {{name}}
                        </span>
                    </div>
                    {{/primary_tag}}
                {{/if}}
                <p class=q-post-card-body-excerpt>{{excerpt}}</p>
            </section>
            <footer class="q-post-card-footer">

            </footer>
        </a>
    </div>
</article>