<nav id='q-sidebar' class='q-sidebar hidden'>
  <section class='q-sidebar-inner'>
    <div class="q-navbar-brand-mobile">
      <a href="{{@site.url}}">
          {{#if @site.logo}}
          <img width="60px" height="60px" loading="lazy" class="q-navbar-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
          {{else}}
          {{@site.title}}
          {{/if}}
      </a>
  </div>
    <div class='q-navbar-navigation-mobile'>
      {{navigation}}
    </div>
    <main class="q-navbar-social-mobile">
      {{#if @site.facebook}}
      <a class="q-social-facebook" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
      {{/if}}
      {{#if @site.twitter}}
      <a class="q-social-twitter" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
      {{/if}}
      {{> "theme-toggle"}}
    </main>
    <button id="q-navbar-button-close" class="q-navbar-button-close">
      Dismiss
    </button>
  </section>
</nav>