<!DOCTYPE html>
<html lang="en">

<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="preload" as="font" href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Open+Sans&family=Inconsolata&display=swap" onload="this.onload=null;this.rel='stylesheet'"> -->

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}" />
    <link rel="preload" as="font" href="{{asset "built/fonts.css"}}" onload="this.onload=null;this.rel='stylesheet'">


    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}
</head>

<body class="q-body">

    {{> "sidebar"}}
    <nav class="q-navbar">
        <!-- Brand Image -->
        <div class="q-navbar-inner">
            <div class="q-navbar-brand">
                <a href="{{@site.url}}">
                    {{#if @site.logo}}
                    <img width="80px" height="80px" loading="lazy" class="q-navbar-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
                    {{else}}
                    {{@site.title}}
                    {{/if}}
                </a>
            </div>

            <!-- Navigation links -->
            <div class="q-navbar-sidebar-toggle">
                <svg id="q-sidebar-toggle" viewBox="0 0 100 80" width="30" height="30">
                    <rect class="q-sidebar-toggle-rect" width="80" height="8"></rect>
                    <rect class="q-sidebar-toggle-rect" y="30" width="80" height="8"></rect>
                    <rect class="q-sidebar-toggle-rect" y="60" width="80" height="8"></rect>
                </svg>
            </div>
            <div class="q-navbar-navigation">
                {{navigation}}
            </div>

            <!-- Social links -->
            <div class="q-navbar-social">
                {{#if @site.facebook}}
                <a class="q-social-facebook" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a class="q-social-twitter" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                {{> "theme-toggle"}}
            </div>
        </div>
    </nav>

    <main class="q-main-inner">
        {{{body}}}
    </main>

    <footer class="q-footer">
        <div class="q-footer-inner">
            <nav class="q-footer-nav">
                {{navigation type="secondary"}}
            </nav>
            <section class="q-footer-info">
                <ul class="q-footer-info-list">
                    <li>
                        &copy; {{date format="YYYY"}} | <a href="{{@site.url}}">{{@site.title}}</a>
                    </li>
                </ul>
            </section>
            {{ghost_foot}}
        </div>
    </footer>
    <script src="{{asset "built/main.js"}}"></script>
</body>

</html>