<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>{{meta_title}}</title>
    <meta name='HandheldFriendly' content='True' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      type='text/css'
      href='{{asset 'built/screen.css'}}'
    />
  </head>
  <body class='q-body'>

    <nav class='q-navbar'>
      <!-- Brand Image -->
      <div class='q-navbar-inner'>
        <div class='q-navbar-brand'>
          <a href='{{@site.url}}'>
            {{#if @site.logo}}
              <img
                loading='lazy'
                class='q-navbar-logo'
                src='{{@site.logo}}'
                alt='{{@site.title}}'
              />
            {{else}}
              {{@site.title}}
            {{/if}}
          </a>
        </div>
      </div>
    </nav>

    <main class='q-error-content'>
      <div class='q-error-content-inner'>
        <section class='q-error-message'>
          <h1 class='q-error-message-code'>{{statusCode}}</h1>
          <p class='q-error-message-description'>{{message}}</p>
          <a class="q-error-message-link  q-error-button" href="#" onclick="window.history.back()">To the previous page</a>
          <a class="q-error-message-link" href="{{@site.url}}">To the front page</a>
        </section>

        {{#if errorDetails}}
          <section class='q-error-detail'>
            <h3>Theme errors</h3>
            <ul class='q-error-detail-list'>
              {{#foreach errorDetails}}
                <li>
                  <em class='q-error-detail-rule'>{{{rule}}}</em>
                  {{#foreach failures}}
                    <p><span class='q-error-detail-file'>Ref: {{ref}}</span></p>
                    <p><span class='q-error-detail-file'>Message:
                        {{message}}</span></p>
                  {{/foreach}}
                </li>
              {{/foreach}}
            </ul>
          </section>
        {{/if}}

      </div>
    </main>
  </body>
</html>