{{!< default}}

<div class='q-index-header'>
  {{#if @site.cover_image}}
  <img class="q-index-header-image"
       srcset="{{img_url @site.cover_image size="s"}} 300w,
               {{img_url @site.cover_image size="m"}} 600w,
               {{img_url @site.cover_image size="l"}} 1000w,
               {{img_url @site.cover_image size="xl"}} 2000w"
       sizes="100vw"
       src="{{img_url @site.cover_image size="xl"}}"
       alt=""/>
  {{/if}}

  <h1 class="q-index-header-title">
    {{@site.description}}
  </h1>
</div>

<!-- Secion only shown if there are featured posts -->

{{#get "posts" filter="featured:true"}}
{{#if posts}}
{{/if}}
<section class="q-post-cardlist-wrapper">
  <header class="q-index-content-header">
    <h2 class="q-index-sub-title">Featured articles</h2>
    <div>
      <button aria-label="Previous" class="q-button--secondary q-glider-prev">&lsaquo;</button>
      <button aria-label="Next" class="q-button--secondary q-glider-next">&rsaquo;</button>
    </div>
  </header>
  <div class="glider-contain">
    <div id="q-glider" class="glider">
      {{#foreach posts}}
      {{> "post-card-item"}}
      {{/foreach}}
    </div>
    <div role="tablist" class="dots"></div>
    </div>
  {{#if posts}}
  {{/if}}
  </section>
{{/get}}

<section class='q-index-content-wrapper'>
    <header class="q-index-content-header">
      <h2 class="q-index-sub-title">Latest publications</h2>
      <div>
        {{ pagination }}
      </div>
    </header>
    <div class="q-index-content-inner">
        <div class="q-post-list">
          {{#foreach posts}}
            {{> "post-list-item"}}
          {{/foreach}}
        </div>
        <!-- Show pagination if pagination exceeds posts_per_page config  -->

    </div>
</section>