{{!< default}}
{{> "image-zoom"}}
{{#post}}
<nav id="q-post-navbar" class="q-post-navbar">
    <div class="q-post-navbar-inner">
        <a href="#">{{title}}</a>
    </div>
    <progress id="q-reading-progress" class="q-post-reading-progress-bar"></progress>
</nav>
{{#if feature_image}}
<img
    class="q-post-article-header-image"
    srcset="{{img_url feature_image size="s"}} 300w,
            {{img_url feature_image size="m"}} 600w,
            {{img_url feature_image size="l"}} 1000w,
            {{img_url feature_image size="xl"}} 2000w"
    sizes="(min-width: 1400px) 1400px, 92vw"
    src="{{img_url feature_image size="xl"}}"
    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"/>
{{/if}}
<header class="q-post-article-header-wrapper">
    <div class="q-post-article-header-inner">
        <section class="q-post-article-meta">
            <div class="q-post-article-author">

            </div>
            {{#primary_author}}
                {{#if profile_image}}
                <a href="{{url}}" class="q-post-author-avatar">
                    <img class="q-post-author-image" src="{{img_url profile_image}}" alt="{{name}}" />
                </a>
                {{else}}
                <a href="{{url}}" class="q-author-avatar q-author-image">{{> "icons/avatar"}}</a>
                {{/if}}
            {{/primary_author}}
            <div class="q-post-article-info">
                <time class="q-post-article-meta-publishdate" datetime="{{date format=" YYYY-MM-DD"}}">{{date}}</time>
                <span class="q-post-article-meta-readingtime"><span class="bull"> &blacksquare; </span>{{reading_time}}</s>
            </div>
        </section>
        <h1 class="q-post-article-title">{{title}}</h1>
        {{#if custom_excerpt}}
        <p class="q-post-article-excerpt">{{custom_excerpt}}</p>
        {{/if}}
        <section class="q-post-article-tags">
            {{tags separator=" &blacksquare; " prefix="Published under "}}
        </section>
    </div>
</header>
<article class="q-post-article-inner">
    <section class="q-post-article-content">
        {{content}}
    </section>

    </article>

    <hr />

    <aside class="q-post-cardlist-inner">
        <h3>Continue reading ...</h3>
        <div class="q-post-cardlist-inner">
            {{#get "posts" filter="id:-{{comment_id}}" include="authors" limit="3" as |more_posts|}}
            {{#if more_posts}}
            {{#foreach more_posts}}
            {{> "post-card-item"}}
            {{/foreach}}
            {{/if}}
            {{/get}}

        </div>
    </aside>

    {{/post}}