{{!< default}} {{#post}}
<nav id="q-post-navbar" class="q-post-navbar">
    <div class="q-post-navbar-inner">
        <a href="#">{{title}}</a>
    </div>
    <progress id="q-reading-progress" class="q-post-reading-progress-bar"></progress>
</nav>

<img class="q-post-article-header-image" src="{{img_url feature_image}}" loading="lazy">
<article class="q-post-article">
    <header class="q-post-article-header">
        <section class="q-post-article-meta">
            <time class="q-post-article-meta-publishdate" datetime="{{date format=" YYYY-MM-DD"}}">{{date}}</time>
            <span class="q-post-article-meta-readingtime"><span class="bull">⚛</span> {{reading_time}}</span>
        </section>
        <h1 class="q-post-article-title">{{title}}</h1>


        {{#if custom_excerpt}}
        <p class="q-post-article-excerpt">{{custom_excerpt}}</p>
        {{/if}}
        <section class="q-post-article-tags">
            Published under {{tags}}
        </section>
    </header>

    <hr />

    <section class="q-post-article-content">
        {{content}}
    </section>

    </article>

    <hr />

    <aside class="q-post-read-more">
        <h3 class="q-post-read-more-title">Continue reading ...</h3>
        <div class="q-post-read-more-inner">

            {{!-- The {#get} helper below fetches some of the latest posts here
            so that people have something else to read when they finish this one.

            This query gets the latest 3 posts on the site, but adds a filter to
            exclude the post we're currently on from being included. --}}

            {{#get "posts" filter="id:-{{comment_id}}" include="authors" limit="3" as |more_posts|}}
            {{#if more_posts}}
            {{#foreach more_posts}}
            {{> "post-card-item"}}
            {{/foreach}}
            {{/if}}
            {{/get}}

        </div>
    </aside>

    {{/post}}