{{!< default}}
{{> "image-zoom"}}
{{#post}}
<nav id="q-post-navbar" class="q-post-navbar">
    <div class="q-post-navbar-inner">
        <a href="#">{{title}}</a>
    </div>
    <progress id="q-reading-progress" class="q-post-reading-progress-bar"></progress>
</nav>
{{#if feature_image}}
<img class="q-post-article-header-image" src="{{img_url feature_image}}" loading="lazy">
{{/if}}
<header class="q-post-article-header-wrapper">
    <div class="q-post-article-header-inner">
        <section class="q-post-article-meta">
            <time class="q-post-article-meta-publishdate" datetime="{{date format=" YYYY-MM-DD"}}">{{date}}</time>
            <span class="q-post-article-meta-readingtime"><span class="bull"> &blacksquare; </span> {{reading_time}}</span>
        </section>
        <h1 class="q-post-article-title">{{title}}</h1>
        {{#if custom_excerpt}}
        <p class="q-post-article-excerpt">{{custom_excerpt}}</p>
        {{/if}}
        <section class="q-post-article-tags">
            {{tags separator=" &blacksquare; " prefix="Published under "}}
        </section>
    </div>
</header>
<article class="q-post-article">
    <section class="q-post-article-content">
        {{content}}
    </section>

    </article>

    <hr />

    <aside class="q-post-cardlist-wrapper">
        <h3>Continue reading ...</h3>
        <div class="q-post-cardlist-inner">
            {{#get "posts" filter="id:-{{comment_id}}" include="authors" limit="3" as |more_posts|}}
            {{#if more_posts}}
            {{#foreach more_posts}}
            {{> "post-card-item"}}
            {{/foreach}}
            {{/if}}
            {{/get}}

        </div>
    </aside>

    {{/post}}